*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
   background-color: white;
   font-family: 'Inter', sans-serif;
}
header{
    padding: 23px 70px;
    background: #5932EA;
}
.navigation {
    width: 100%;
    height: 100%;
    position: relative;
}
.navigation .logo {
    width: 100px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.navigation .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navigation ul {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 60px;
}
.navigation ul li a{
    color: white;
    font-size: 12px;
    line-height: 19px;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
}
.navigation ul li a:hover{
    color: black;
    border-bottom: 1px solid black;
}
.buttons-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 12px;
}
.btn-demo {
    background-color: white;
    color: #5932EA;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    border: none;
}
.btn-acc {
    background-color: transparent;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid white;
}
.btn-demo,
.btn-acc {
    transition: all 0.3s ease;
}
.btn-demo:hover {
    background-color: #4020c9; 
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}
.btn-acc:hover {
    background-color: white;
    color: #5932EA;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}
